# File: top_level.ucf
# Desc: Pinout descriptions for implementing a ps/2 input for a keyboard and
#		sending the result to the terminal using a SPART
# Team Binary Evolution
# Creator: Ross Nordstrom
# Notes: Pinouts found in <userguideXUPv2.pdf>, pp66 (Table 2-18)

# RS232 Configuration
NET "txd" LOC = "AE7";
NET "txd" IOSTANDARD = LVCMOS25;
NET "txd" DRIVE = 8;
NET "txd" SLEW = SLOW;

NET "rxd" LOC = "AJ8";
NET "rxd" IOSTANDARD = LVCMOS25;

# PS-2 Configuration
NET "kbd_data" LOC = "AG1";
NET "kbd_data" IOSTANDARD = LVTTL;
NET "kbd_clk" LOC = "AG2";
NET "kbd_clk" IOSTANDARD = LVTTL;

# Switch Configuration
NET "rst" LOC = "AC11";
		##NET "SW_1" LOC = "AD11";
		#NET "br_cfg<0>" LOC = "AF8";
		#NET "br_cfg<1>" LOC = "AF9";

NET "rst" IOSTANDARD = LVCMOS25;
		##NET "SW_1" IOSTANDARD = LVCMOS25;
		#NET "br_cfg<0>" IOSTANDARD = LVCMOS25;
		#NET "br_cfg<1>" IOSTANDARD = LVCMOS25;

# Clock Configuration
NET "clk" LOC = "AJ15";
NET "clk" IOSTANDARD = LVCMOS25;
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10.00 ns HIGH 50 %;

