NET "kbd_clk" LOC = "AG2";
NET "kbd_data" LOC = "AG1";
NET "MOUSE_CLOCK" LOC = "AD6";
NET "MOUSE_DATA" LOC = "AD5";

NET "kbd_clk" IOSTANDARD = LVTTL;
NET "kbd_data" IOSTANDARD = LVTTL;
NET "MOUSE_CLOCK" IOSTANDARD = LVTTL;
NET "MOUSE_DATA" IOSTANDARD = LVTTL;

NET "kbd_clk" DRIVE = 8;
NET "kbd_data" DRIVE = 8;
NET "MOUSE_CLOCK" DRIVE = 8;
NET "MOUSE_DATA" DRIVE = 8;

NET "kbd_clk" SLEW = SLOW;
NET "kbd_data" SLEW = SLOW;
NET "MOUSE_CLOCK" SLEW = SLOW;
NET "MOUSE_DATA" SLEW = SLOW;
